body {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100vh;
  text-align: center;
  display: table;
  background: linear-gradient(#22203c, #090a12);
}
.nav {
  overflow: hidden;
  width: 100vw;
  background: #090a12;
}
.nav a {
  text-decoration: none;
  float: left;
  display: block;
  padding: 15px;
  font-family: helvetica, sans-serif;
  font-size: 18px;
  color: #ffffff;

  &:hover {
    background: #f0bbc2;
  }
}
.nav a.onpage {
 background: #22203c;
}
.recbutton a {
  text-decoration: none;
  font-size: 25px;
  padding: 10px 30px;
  color: #ffffff;
  background: #f0bbc2;
  border-radius: 20px;
  font-family: helvetica, sans-serif;
  cursor: pointer;
  position: relative;
  top: 15vh;
  right: 10vw;
  &:hover{
    transition-duration: 0.3s;
    background: #87717d;
  }
}
.topbutton a {
  text-decoration: none;
  font-size: 25px;
  padding: 10px 30px;
  color: #ffffff;
  background: #f0bbc2;
  border-radius: 20px;
  font-family: helvetica, sans-serif;
  cursor: pointer;
  position: relative;
  top: 10vh;
  left: 10vw;

  &:hover{
    transition-duration: 0.3s;
    background: #87717d;
  }
}
.resultbutton a {
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  color: #ffffff;
  background: #f0bbc2;
  border-radius: 20px;
  font-family: helvetica, sans-serif;
  cursor: pointer;
  position: relative;
  top: -6vh;

  &:hover{
    transition-duration: 0.3s;
    background: #87717d;
  }
}
.homebutton a {
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  color: #ffffff;
  background: #f0bbc2;
  border-radius: 20px;
  font-family: helvetica, sans-serif;
  cursor: pointer;
  position: relative;
  top: 6vh;

  &:hover{
    transition-duration: 0.3s;
    background: #87717d;
  }
}
h1 {
  color: #ffffff;
  text-align: center;
  font-family: helvetica, sans-serif;
  font-size: 50px;
}
h2 {
  color: #ffffff;
  font-family: helvetica, sans-serif;
}
h3 {
  text-align: center;
  color: #ffffff;
  font-family: helvetica, sans-serif;
}
h4 {
  color: #ffffff;
  font-family: helvetica, sans-serif;
  display: inline;
}
p {
  color: #ffffff;
  font-family: helvetica, sans-serif;
  display: inline;
}
.search input[type=text] {
  margin: auto;
  display: table;
  padding: 6px;
  background-color: #ffffff;
  width: 50vw;
  font-size: 20px;
  border-radius: 20px;
}
table {
  margin: 0 auto;
  display: table;
  padding: 15px;
  width: 48vw;
  table-layout: fixed;
  border-spacing: 0 0;
  color: #ffffff;
  font-family: helvetica, sans-serif;
  font-size: 20px;
}
.recommend_box {
  word-wrap: break-word;
  margin: auto;
  display: table;
  padding: 6px;
  position: relative;
  top: 15vh;
  background-color: #87717d;
  border: 7px solid #f0bbc2;
  border-radius: 20px;
  width: 50vw;
  table-layout: fixed;
  border-spacing: 0 0;
}
.left_button {
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  height: 30px;
  width: 30px;
  border-top: 5px solid #ffffff;
  border-left: 5px solid #ffffff;
  transform: rotate(-45deg);
  left: 17vw;
  top: 50vh;

  &:hover {
    transition-duration: 0.3s;
    height: 35px;
    width: 35px;
    border-top: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
  }

  &:active {
    transition-duration: 0.1s;
    height: 30px;
    width: 30px;
    border-top: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
  }
}
.right_button {
  cursor: pointer;
  background: transparent;
  position: absolute;
  height: 30px;
  width: 30px;
  border-top: 5px solid #ffffff;
  border-left: 5px solid #ffffff;
  transform: rotate(135deg);
  left: 80vw;
  top: 50vh;

  &:hover {
    transition-duration: 0.3s;
    height: 35px;
    width: 35px;
    border-top: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
  }

  &:active {
    transition-duration: 0.1s;
    height: 30px;
    width: 30px;
    border-top: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
  }
}
.resetbutton {
  margin: 0 auto;
  display: table;
  text-align: center;
}
.pagenum {
  position: absolute;
  top: 90vh;
  left: 49vw;
  font-family: helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
