<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Good Games Guru</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<h1>Good Games Guru</h1>
<a href="http://127.0.0.1:5000/recommender">
    Click for Recommender
</a>
<br>
<div class="resetbutton" id="reset">
    <button type="button" onclick="Reset()">Reset</button>
</div>
<br>
<form autocomplete="off">
    <div class="search">
        <label for="gameinput"></label>
        <input type="text" placeholder="Search for games..." id="gameinput" onkeydown="return AddtoList(event)">
    </div>
</form>
    <table>
        <tbody id="gamestable">

        </tbody>
    </table>
    <script>
        let resetrequested = false

        function MakeTable() { /* Code adapted from https://www.youtube.com/watch?v=yk2DibLBhzc */
            let table = document.querySelector("#gamestable")
            const row = document.createElement("tr")
            if (!resetrequested) {
                for (let i = 0; i < games.length; i++) {
                    row.innerHTML = `<tr>
                        <td>${games[i]}</td>
                    </tr>`
                    table.appendChild(row)
                }
            }
            else {
                table.textContent = ""
                resetrequested = false
            }
        }

        function Reset() {
            resetrequested = true
            MakeTable()
            games.length = 0
        }

        const games = []
        function AddtoList(e) {
            if (e.keyCode === 13) {
                if (e.target.value !== "") {
                    if (OnSteam()) {
                        games.push(e.target.value)
                        MakeTable()
                        e.target.value = ""
                    }
                    else {
                        alert(e.target.value + " is not in our database")
                        e.target.value = ""
                    }
                }
                return false
            }
        }
        function OnSteam() {
            return true
        }
    </script>
</body>
</html>