<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ranker</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="rankerpage">
    <h1 align="center">Game Ranker</h1>
    <a align="center" href="http://127.0.0.1:5000/recommender">
        Click for Recommender
    </a>
    <br>
    <br>
    <form autocomplete="off">
        <div class="search">
            <label for="gameinput"></label>
            <input type="text" placeholder="Search for games..." id="gameinput" name="gameinput">
            </label>
        </div>
    </form>

    <div class="rankbox">
        <table>
        <tr>
            <td>1.</td>
            <td>[]</td>
            <td>Game</td>
        </tr>
            <!--<tr>
                <td>2.</td>
                <td>[]</td>
                <td>Game 2</td>
            </tr>-->
    </table>
    </div>
</div>
</body>
</html>