<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommender</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body onload="Reset()"> <!-- for local storage integration uncomment onload="LoadGames()" and the commented js-->
<div class="nav">
    <a href="http://127.0.0.1:5000/home">Home</a>
    <a class="onpage" href="http://127.0.0.1:5000/recommender">Recommender</a>
    <a href="http://127.0.0.1:5000/topgames">Top Games</a>
    <a href="http://127.0.0.1:5000/results">Results</a>
</div>

<h3>Search our database for at least three games that you like and we will find</h3>
    <h3>recommendations based on your preferences</h3>
<br>
<br>
<br>
<div class="resultbutton" id="result">
    <a href="http://127.0.0.1:5000/results">
        Click for recommendations
    </a>
</div>
<div class="resetbutton" id="reset">
    <button type="button" onclick="Reset()">Reset</button>
</div>
<br>
<form autocomplete="off">
    <div class="search">
        <label for="gameinput"></label>
        <input type="text" placeholder="Search for games..." id="gameinput" onkeydown="return AddtoList(event)">
    </div>
</form>
    <table>
        <tbody id="gamestable">

        </tbody>
    </table>
    <script>
        let games = []

        function SaveGames(game) { /* Code adapted from https://www.youtube.com/watch?v=2hJ1rTANVnk */
            if (localStorage.getItem("gameslist") == null) {
                localStorage.setItem("gameslist", '[]')
            }
            var currentlist = JSON.parse(localStorage.getItem("gameslist"))
            currentlist.push(game)
            localStorage.setItem("gameslist", JSON.stringify(currentlist))
        }

        document.getElementById("result").style.display = "none"

        let resetrequested = false

        function MakeTable() { /* Code adapted from https://www.youtube.com/watch?v=yk2DibLBhzc */
            let table = document.querySelector("#gamestable")
            const row = document.createElement("tr")
            if (!resetrequested) {
                for (let i = 0; i < games.length; i++) {
                    row.innerHTML = `<tr>
                        <td>${games[i]}</td>
                    </tr>`
                    table.appendChild(row)
                }
            }
            else {
                table.textContent = ""
                resetrequested = false
            }
        }

        function Reset() {
            resetrequested = true
            MakeTable()
            games.length = 0
            localStorage.clear()
            ButtonVis()
        }

        function AddtoList(e) {
            if (e.keyCode === 13) {
                if (e.target.value !== "") {
                    if (OnSteam()) {
                        games.push(e.target.value)
                        MakeTable()
                        SaveGames(e.target.value)
                        e.target.value = ""
                        ButtonVis()
                    }
                    else {
                        alert(e.target.value + " is not in our database")
                        e.target.value = ""
                    }
                }
                return false
            }
        }

        function ButtonVis() {
            let visibility = document.getElementById("result")
            if (games.length >= 3) {
                visibility.style.display = "block"
            }
            else {
                visibility.style.display = "none"
            }
        }
        function OnSteam() {
            return true
        }
    </script>
</body>
</html>