<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top Games</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="nav">
    <a href="http://127.0.0.1:5000/home">Home</a>
    <a href="http://127.0.0.1:5000/recommender">Recommender</a>
    <a class="onpage" href="http://127.0.0.1:5000/topgames">Top Games</a>
    <a href="http://127.0.0.1:5000/results">Results</a>
</div>
<div class="homebutton" id="home">
    <a href="http://127.0.0.1:5000/home">
        Return to homepage
    </a>
</div>

</body>
</html>