<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top Games</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body onload="DisplayTop(); showHeapData()">
<div class="nav">
    <a href="http://127.0.0.1:5000/home">Home</a>
    <a href="http://127.0.0.1:5000/recommender">Recommender</a>
    <a class="onpage" href="http://127.0.0.1:5000/topgames">Top Games</a>
    <a href="http://127.0.0.1:5000/results">Results</a>
</div>
<div class="homebutton" id="home">
    <a href="http://127.0.0.1:5000/home">
        Return to homepage
    </a>
</div>

<div class="recommend_box">
    <h3 id="gamesintop"></h3>
</div>

<div class="left_button" id="lbutton">
</div>
<div class="right_button" id="rbutton">
</div>

<div class="pagenum">
    <p id="page"></p>
</div>

<script>
    document.getElementById("lbutton").style.display = "none"
    let index = 0
    let rank = 1
    var result = {{data | safe}}

    const lbutton = document.getElementById("lbutton")
    const rbutton = document.getElementById("rbutton")

    function showHeapData(){
        console.log(result)
    }
    function OnClick(e) {
        if (e.target.id === "lbutton") {
            index --
            rank -= 20
            ArrowVis()
            DisplayTop()
        }
        else {
            index ++
            ArrowVis()
            DisplayTop()
        }
    }
    function DisplayTop() {
        document.getElementById("gamesintop").innerHTML = ""
        document.getElementById("page").innerHTML = (index + 1) + " / " + Math.ceil(result.length / 10)
        for (let i = 0; i < 10; i++) {
            if ((index * 10) + i < result.length) {
                document.getElementById("gamesintop").innerHTML += rank + ". " + result[(index * 10) + i] + "<br>"
                rank++
            }
        }
    }

    function ArrowVis() {
        let lvisibility = document.getElementById("lbutton")
        let rvisibility = document.getElementById("rbutton")
        if (index > 0) {
            lvisibility.style.display = "block"
        }
        else {
            lvisibility.style.display = "none"
        }

        if (index === result.length - 1) {
            rvisibility.style.display = "none"
        }
        else {
            rvisibility.style.display = "block"
        }
    }
    lbutton.addEventListener("click", OnClick)
    rbutton.addEventListener("click", OnClick)
</script>

</body>
</html>